body{
	font-size: 14px;
	color: #fff;
	background-color: #008B8B;
	font-family: 'Acme', sans-serif;
}
#header-nav{

	background-color: #DCDCDC;
	border-radius: 0px;
	border: 0px;
}
#logo-img{
	background: url('') no-repeat;
	color: black;
	width: 140px;
	height: 140px;
	margin: 10px 15px 10px 0px;
	border: solid;
	
}
.navar-header{
	padding-top: 30px;

}
.navbar-header h1{
	display: inline-block;
	font-family: 'Acme', sans-serif;
	color: #B22222;
	height: 20px;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 10;
	margin-bottom: 0;
	line-height: 0.75;
}
.navbar-header a:hover, .navbar-header a:focus{
	text-decoration:none;
}
.navbar-header p{
	color: #000;
	text-transform: uppercase;
	font-size: 0.7em;
	margin-top: 15px;
}
.navbar-header p span{
	vertical-align: middle;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: grey;
	text-align: center;
}
#nav-list a:hover{
	background: blue;
}
#nav-list span{
	font-size: 1.8em;
}
#phone{
	margin-top: 5px;
}
#phone a{
	color: black;
	text-align: right;
}
#phone div{
	color: black;
	text-align: right;
	padding-right: 15px;
}
.navbar-header button.navbar-toogle, .navbar-header .icon-bar{
	border: 1px solid black;
}
.navbar-header button.navbar-toogle{
	clear: both;
	margin-top: -30px;
}
#chocolate{
	display: block;
	background-color: #87CEEB;
	color: black;
	width: 96%;
	margin: 2%;
	padding: 1%;
}
#chocolate h2{
	color: #D2691E;
	text-align: center;
}

#caramel{
	display: block;
	background-color: #87CEEB;
	color: black;
	width: 96%;
	margin: 2%;
	padding: 1%;
}
#caramel h2{
	color: #FF8C00;
	text-align: center;
}
#fruit{
	display: block;
	background-color: #87CEEB;
	color: black;
	width: 96%;
	margin: 2%;
	padding: 1%;
}
#fruit h2{
	color: #FF0000;
	text-align: center;
}





@media (min-width: 1326px){

	#collapsable-nav{
		display: none;
	}

	#logo-img{
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0px;

}
@media (min-width: 992px)and (max-width: 1199px){

	#logo-img{
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0px;
	}
}
@media (min-width: 768px)and (max-width: 991px ){

	#collapsable-nav{
		display: none;
	}

	#logo-img{
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0px;

}
@media (max-width: 767px ){

}
