body{
	margin: 1%;
}
header{
	display: block;
	border-radius: 8px;
	background-color: #ADD8E6;
}
h1{

}
nav{
	display: block;
	background-color: ;
}
nav li{
	display: inline-block;	
	margin: 1%;
	margin-bottom: 8px;
}
nav a{
	display: block;
	background-color: grey;
	width: 150px;
	text-align: center;
	margin: 0.7%;
	padding: 8px;
	text-decoration: none;
	color: black;
	opacity: 0.8;
	border-radius: 8px;
}
nav a:hover{
	text-decoration: none;
	color: black;
	opacity: 1;
	transition-duration: 1s;
}
.kategori{
	display: inline-block;
	background-color: #008B8B;
	margin-top: 8px;
	border-radius: 8px;
	padding: 12px;
	

}
.kategori ul{
	padding-left:0px ;

}
.most{
	display: inline-block;
	position: relative;
	bottom: -210px;
	right: 217px;
	width: 16.1%;
	background-color: #008B8B;
	margin-top: 8px;
	border-radius: 8px;
	padding: 12px;

}

section ul{
	display: inline-block;
	vertical-align:text-bottom;
}
section li{
	display: block;
	vertical-align:text-bottom;
	margin: 12px;
	text-align:center

}
.kategori a{
	display: block;
	background-color: #DCDCDC;
	width: 140px;
	margin: 12px;
	padding: 4px;
	border-radius: 8px;
	color: black;
	opacity: 0.8;
}
.kategori a:hover{
	text-decoration: none;
	opacity: 1;
	color: black;
	transition-duration: 0.6s;
	transform:scale(1.1,1.1);

}
.group{
	display: inline-block;
	position: absolute;
	right: 20%;
	top: 24%;
	
	width: 60%;
	height: 40%;
	
}
.group a{
	display: block;
	background-color: #E6E6FA;
	width: 150px;
	margin: 4px;
	padding: 4px;
	border-radius: 8px;
	color: black;
	opacity: 0.8;
	text-decoration:none;
}

.group a:hover{
	text-decoration: none;
	opacity: 1;
	color: black;
}
.table{
	display: inline-block;
	position: absolute;
	top:  20%;
	left: 17%;
	margin: 1%;
	width: 20%;
	height: 70%;
	border: solid;
}
.table li{
	margin: 1%;
}
.table a{
	display: block;
	background-color: #DCDCDC;
	width: 140px;
	margin: 8px;
	padding: 4px;
	border-radius: 8px;
	color: black;
	opacity: 0.8;
}
.table a:hover{
	text-decoration: none;
	opacity: 1;
	color: black;
	transition-duration: 0.6s;
	transform:scale(1.1,1.1);
}
