
h1{
    font-size: 32px;
}

footer{
display: flex;
width: 100%;
line-height: 75px;


}
.isim{
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
}
.nav-item{
    text-align: center;
}
.konu{
    display: inline-block;
    width: 55%;
    
}
body{
   
    margin: 0.6%;
 
}

.search{
    display: inline-block;
    width: 30%;
    margin-left: 4%;
}

.katogori{
    display: inline-block;
    width: 30%;
    margin-left: 4%;
 
}
.sosyal{
    display: inline-block;
    width: 30%;
    margin-left: 4%;
}
.foot{
    display: inline-block;
    
}


@media (min-width: 1200px) { 
    .konu{
        width: 55%;
        margin-left: 6%;
    }

 }

@media (min-width: 992px) and (max-width: 1199.98px){
        .konu{
            width: 55%;
            margin-left: 6%;
        }

    }

    @media (min-width: 768px) and (max-width: 991.98px) {
         .konu{
            width: 80%;
        }
        .search{
            display: none;
        }
        .katogori{
            display: none;
        }
        .sosyal{
            display: none;
        }
    }


    @media (min-width: 576px) and (max-width: 767.98px){
        .konu{
            width: 100%;
          
        }
        .search{
            display: none;
        }
        .katogori{
            display: none;
        }
        .sosyal{
            display: none;
        }
    }
    @media (max-width: 575.98px){
        .konu{
            width: 100%;
          
        }
        .search{
            display: none;
        }
        .katogori{
            display: none;
        }
        .sosyal{
            display: none;
        }
    }