body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: ;
  margin: 1%;
}
a:hover{
  text-decoration: none;
}
#logo{
  width: 64px;
}
#logo:hover{
  transform:rotate(360deg);
  transition-duration: 1.3s;
}
.navbar-toggler-icon{
  width: ;
  }

h1{
  font-size: 4.0em;
  color: grey;
  background-color: #F0F8FF;
  height: 110px;
  margin: auto;
  text-decoration:none;



}
h2{
  text-align: center;
  color:  rgb(45, 47, 48);
  height: 180px;
  text-shadow: 4px 4px 4px 4px grey;
}

p{

}
.part{
  font-size: 1.5em;
}
#liste{
  font-size: 1.5em;
}
.navbar a:hover{
  background-color: #F0F8FF;
}
.nav-item{
  text-align: center;
}
.nav-link{
font-size: 200%;
}

.sıra{
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top:
}
.konular{
  background-color: #237c6e;
  display: inline-block;
  height: 180px;
  box-shadow: 0 0 4px 4px grey;
}
.konular:hover{
  transform: scale();
  transition-duration: 1s;
}

.konu_pic{
  width: 15%;
  display: inline-block ;

}
.konu-explanation{
  font-size: 160%;
  text-indent: 40px;
}
.show{
  font-size: 160%;
}
div{
  margin: 1%;
}

.words_caption{
  background-color: #2F4F4F;
  margin: 1%;
  text-align: center;
}
footer{
  background-color: cadetblue;
  text-align: center;
}
